/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: 'Kode Mono';
  src: url('assets/fonts/kode_mono/Kode[wght].woff2') format('woff2-variations');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap; /* Prevent layout shifts */
}

@font-face {
  font-family: 'Kode Mono';
  src: url('assets/fonts/kode_mono/Kode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kode Mono';
  src: url('assets/fonts/kode_mono/Kode-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kode Mono';
  src: url('assets/fonts/kode_mono/Kode-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kode Mono';
  src: url('assets/fonts/kode_mono/Kode-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root{
  --kode-font: 'Kode Mono', monospace, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--kode-font);
}

body{
  background-color: beige;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.hero {
  background-color: #f4d1ae;
  background-position: 50%;
  background-size:cover;
  padding: 7rem 2rem 10rem 2rem;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
  min-height: 100vh;
  background-size: 50px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23808080' fill-opacity='0.9'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* .hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
} */

.hero-container {
  background-color: #f4d1ae;
  border-radius: 50px;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border:2px solid black;
  box-shadow: 10px 10px 0px rgb(0, 0, 0);
  min-height: 300px; /* Reserve space for hero content */
}

.hero-data {
  text-align: left;
  color: #000;
  margin: auto 0;
  min-height: 200px; /* Reserve space for hero data */
}

.hero-work {
  font-size: 1.5em;
  letter-spacing: 2px;
}

.typed-cursor{
  font-size: 1.5em;
}


.home-list dt {
  float: left;
  font-weight: 700;
  opacity: 0.75;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.home-list dd {
  padding-left: 6.25em;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.home-list > dd > a {
  /* text-decoration: none; */
  color: #000;
}



.home-list dd:not(:last-child) {
  margin-bottom: 0.94em;
}


.hero-data h1 {
  margin-bottom: 0.9rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
  letter-spacing: 2px;
}

.home-socials {
  margin-top: 1.25rem;
}


.home__social {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2.5rem;
  line-height: 1.36em;
  margin-right: 0.25rem;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home__social img{
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
}

.home__social:hover {
  opacity: 1;
}

.hero-img {
  width: 250px;             /* reserve width */
  height: auto;             /* let height be computed from aspect-ratio */
  aspect-ratio: 1 / 1;      /* reserve square box even before image loads */
  object-fit: cover;        /* fill nicely if intrinsic ratio differs */
  display: block;
  border-radius: 30px;
  position: relative;
  border: 2px solid black;
  -webkit-box-shadow: 8px 10px 0px rgb(21, 4, 4);
          box-shadow: 8px 10px 0px rgb(21, 4, 4);
  background-color: transparent; /* no background to avoid white box */
}

.hero-pic{
  margin: auto 0;
}





.about {
  background-color: beige;
  backdrop-filter: blur(5px);
  color: #000;
  padding: 7rem 2rem 2rem 2rem;
  border-top: 2px solid black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  z-index: 2;
  margin-top: -50px;
  min-height: 100vh;
  overflow: hidden;
}

/* .about::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
} */

/* @supports ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
  .about {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
  }
} */


.about p{
  text-align:justify;
  line-height: 2.4em;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.typed-js-div{
  display: flex;
  flex-direction: row;
  align-items: top;
  height: 2rem;
  margin-bottom: 1rem;
}

/* ----------------------------------- */
/* Footer */
/* ----------------------------------- */

.footer {
  background-color: beige;
  color: #000;
  text-align: center;
  border-top: 2px solid #00000043;
  position: relative;
  z-index: 3;
}

.footer p {
  font-size: 0.75rem;
  letter-spacing: 1px;
  opacity: 0.7;
  margin: 0;
}

/* ----------------------------------- */

.grid-container {
  margin: 0 auto;
  padding-top: 2rem;
}

.mansory-container{
  columns: 4;
  column-gap: 15px;
  width: 1200px;
  margin: 0 auto;
  will-change: transform, opacity;
}


.mansory-container .box{
  width: 100%;
  margin-bottom: 20px;
  break-inside: avoid;
}


.mansory-container .box img{
  max-width: 100%;
  border-radius: 15px;
}


@media (max-width: 1280px){
  .mansory-container{
    width: calc(100% - 20px);
    columns: 3;
  }
}
@media (max-width: 768px){
  .mansory-container{
    width: calc(100% - 30px);
    columns: 2;
  }
}
/* @media (max-width: 480px){
  .mansory-container{
    width: calc(100% - 60px);
    columns: 1;
  }
} */



body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* border-radius: 10px; */
  border-left: 1px solid black;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}



@media screen and (max-width: 780px){

  .hero{
    padding: 5rem 2rem 2rem 2rem;
  }

  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: -30px;
    width: 555px;
    margin: 0 auto;
  }

  .hero-img{
    width: 150px;  /* keep square with aspect-ratio */
    height: auto;
    margin-bottom: 1rem;
  }

  .hero-data h1{
    font-size: 2rem;
  }

  .hero-work {
    font-size: 1.2em;
  }

  .typed-cursor{
    font-size: 1.2em;
  }

  
}

@media screen and (max-width: 640px){
  .hero-container {
    width: 500px;
  }

}


@media screen and (max-width: 575px){

  .hero{
    padding: 8rem 2rem 7rem 2rem;
  }
  
  .hero-container {
    width: 400px;
  }

  .hero-data {
    padding: 0;
  }

  .home-list dt {
    font-size: 1em;
  }

  .home-list dd {
    font-size: 1em;
  }
  
}

/* iphone */
@media screen and (max-width: 470px){

  .hero{
    padding: 5rem 2rem;
  }
 
  .hero-container {
    width: 375px;
    margin: 0 auto;
    padding: 4rem 1rem; 
  
  }

  .hero-data h1{
    font-size: 2em;
  }

  .typed-js-div{
    align-items: center;
  }

  .home-list dt {
    font-size: 0.9em;
  }

  .home-list dd {
    font-size: 0.9em;
  }

  .hero-img{
    margin-bottom: 2rem;
  }

 .home-list dt{
  font-size: 0.9em;
 }
 .home-list dd{
  font-size: 0.9em;
 }

 .home__social{
  font-size: 2em;
 }
  
}

/* iphone */
@media screen and (max-width: 430px){

  .hero-container {
    width: 325px;
    margin: 0 auto;
    padding: 4rem 1rem;
  }

  .hero{
    padding-bottom: 2rem;
  }

  .hero-work{
    font-size: 1em;
  }

  .typed-cursor{
    font-size: 1em;
  }

  .home-list dt {
    font-size: 0.85em;
  }

  .home-list dd {
    font-size: 0.85em;
  }
  
}

@media screen and (max-width: 376px){

  .about{
    padding: 7rem 1rem 2rem 1rem;
  }

  .hero-container {
    width: 300px;
    margin-left: -5px;
    padding: 2rem 1rem;
  }

  .hero-data{
    margin: 0 auto;
  }

  .hero-data h1{
    font-size: 1.85em;
    margin-bottom: 0.45rem;
    font-weight: 900;
  }

  .hero{
    padding-bottom: 3.5rem;
  }


  .home-socials{
    margin: 1rem 0 0 0;
  }

  .hero-work{
    font-size: 0.95em;
  }

  .typed-cursor{
    font-size: 0.95em;
  }

  .home-list dt {
    font-size: 0.75em;
  }

  .home-list dd {
    font-size: 0.75em;
  }
  
}